.App {
  font-family: sans-serif;
  text-align: center;
  background-color: lightslategray;
}
.light {
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  color: black;
  background-color: #aaaaaa;
  border: 5px solid black;
  font-size: 32px;
}

.red {
  background-color: #ffffff;
}
